<html>
    <head>
        <title>GameTag</title>
    </head>

    <body>
        <h1>About GameTag</h1>
        <p><font color= "blue">A comunidade gamer vem deixando sua marca com o decorrer das gerações, mostrando que sua influência está aumentando com os anos e assim, influenciando tanto na cultura como economia mundial.
                Gametag trata-se de um fórum especializado em games de todos os genêros, onde os jogadores podem se encontrar e compartilhar fatos, tutoriais, avisos sobre certos jogos e até encontrar recomendações de outros usuários. O site é baseado em um sistema de subtópicos, onde cada tópico pode ser sobre um jogo, empresa, console e dentre outras categorias.</font>
        </p>
    </body>
</html>